apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"my-website-deployment","namespace":"default"},"spec":{"replicas":2,"selector":{"matchLabels":{"app":"my-website"}},"template":{"metadata":{"labels":{"app":"my-website"}},"spec":{"containers":[{"image":"YOUR_DOCKERHUB_USERNAME/my-website:latest","name":"my-website","ports":[{"containerPort":80}]}]}}}}
  creationTimestamp: "2026-01-24T04:44:36Z"
  generation: 1
  name: my-website-deployment
  namespace: default
  resourceVersion: "1901"
  uid: 97ed2161-afd6-4561-b097-d8025fb84fcd
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: my-website
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: my-website
    spec:
      containers:
      - image: amnahkhan/my-website:latest
        imagePullPolicy: IfNotPresent
        name: my-website
        ports:
        - containerPort: 80
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  conditions:
  - lastTransitionTime: "2026-01-24T04:44:36Z"
    lastUpdateTime: "2026-01-24T04:44:36Z"
    message: Deployment does not have minimum availability.
    reason: MinimumReplicasUnavailable
    status: "False"
    type: Available
  - lastTransitionTime: "2026-01-24T04:54:37Z"
    lastUpdateTime: "2026-01-24T04:54:37Z"
    message: ReplicaSet "my-website-deployment-dc7c8b549" has timed out progressing.
    reason: ProgressDeadlineExceeded
    status: "False"
    type: Progressing
  observedGeneration: 1
  replicas: 2
  unavailableReplicas: 2
  updatedReplicas: 2
